.prova{
    background-color: lightgray;
    color: black;

    text-align: center;

    border: 1px solid black;
    margin: auto;
}
.prova h1{
    font-size: 40px;
}

button{
    width:90%;
    height:80px;
    border:0;
    margin:10px;
    font-size: larger;
}